# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Django
db.sqlite3
/media
/staticfiles

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
*.egg-info/
dist/
build/